<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TravelSathi-Forgot password</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    <title>API tester</title>
  </head>
  <body>
<form method="post" action='/results'>
    <input name='address' type="text" placeholder="address" />
    <button type="submit">submit</button>
</form>
</body>
</html>